@charset "UTF-8";
.typed-para::before {
  content: "​";
  content: "​"/"neural interfaces. 🧠";
  alt: "neural interfaces. 🧠";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 10.17s linear 1s infinite forwards;
}
.typed-para::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.4906420846% {
    content: "​n";
    content: "​n"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  0.4916420846%, 0.9822841691% {
    content: "​ne";
    content: "​ne"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  0.9832841691%, 1.4739262537% {
    content: "​neu";
    content: "​neu"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  1.4749262537%, 1.9655683382% {
    content: "​neur";
    content: "​neur"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  1.9665683382%, 2.4572104228% {
    content: "​neura";
    content: "​neura"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  2.4582104228%, 2.9488525074% {
    content: "​neural";
    content: "​neural"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  2.9498525074%, 3.4404945919% {
    content: "​neural ";
    content: "​neural "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  3.4414945919%, 3.9321366765% {
    content: "​neural i";
    content: "​neural i"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  3.9331366765%, 4.4237787611% {
    content: "​neural in";
    content: "​neural in"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  4.4247787611%, 4.9154208456% {
    content: "​neural int";
    content: "​neural int"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  4.9164208456%, 5.4070629302% {
    content: "​neural inte";
    content: "​neural inte"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  5.4080629302%, 5.8987050147% {
    content: "​neural inter";
    content: "​neural inter"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  5.8997050147%, 6.3903470993% {
    content: "​neural interf";
    content: "​neural interf"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  6.3913470993%, 6.8819891839% {
    content: "​neural interfa";
    content: "​neural interfa"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  6.8829891839%, 7.3736312684% {
    content: "​neural interfac";
    content: "​neural interfac"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  7.3746312684%, 7.865273353% {
    content: "​neural interface";
    content: "​neural interface"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  7.866273353%, 8.3569154376% {
    content: "​neural interfaces";
    content: "​neural interfaces"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  8.3579154376%, 8.8485575221% {
    content: "​neural interfaces.";
    content: "​neural interfaces."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  8.8495575221%, 9.3401996067% {
    content: "​neural interfaces. ";
    content: "​neural interfaces. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  9.3411996067%, 20.0579970501% {
    content: "​neural interfaces. 🧠";
    content: "​neural interfaces. 🧠"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  20.0589970501%, 20.4513107178% {
    content: "​neural interfaces. ";
    content: "​neural interfaces. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  20.4523107178%, 20.8446243854% {
    content: "​neural interfaces.";
    content: "​neural interfaces."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  20.8456243854%, 21.2379380531% {
    content: "​neural interfaces";
    content: "​neural interfaces"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  21.2389380531%, 21.6312517207% {
    content: "​neural interface";
    content: "​neural interface"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  21.6322517207%, 22.0245653884% {
    content: "​neural interfac";
    content: "​neural interfac"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  22.0255653884%, 22.417879056% {
    content: "​neural interfa";
    content: "​neural interfa"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  22.418879056%, 22.8111927237% {
    content: "​neural interf";
    content: "​neural interf"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  22.8121927237%, 23.2045063913% {
    content: "​neural inter";
    content: "​neural inter"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.2055063913%, 23.597820059% {
    content: "​neural inte";
    content: "​neural inte"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.598820059%, 23.9911337266% {
    content: "​neural int";
    content: "​neural int"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.9921337266%, 24.3844473943% {
    content: "​neural in";
    content: "​neural in"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  24.3854473943%, 24.7777610619% {
    content: "​neural i";
    content: "​neural i"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  24.7787610619%, 25.1710747296% {
    content: "​neural ";
    content: "​neural "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.1720747296%, 25.5643883972% {
    content: "​neural";
    content: "​neural"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.5653883972%, 25.9577020649% {
    content: "​neura";
    content: "​neura"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.9587020649%, 26.3510157325% {
    content: "​neur";
    content: "​neur"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  26.3520157325%, 26.7443294002% {
    content: "​neu";
    content: "​neu"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  26.7453294002%, 27.1376430678% {
    content: "​ne";
    content: "​ne"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  27.1386430678%, 27.5309567355% {
    content: "​n";
    content: "​n"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  27.5319567355%, 32.4473775811% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  32.4483775811%, 32.9390196657% {
    content: "​m";
    content: "​m"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  32.9400196657%, 33.4306617502% {
    content: "​me";
    content: "​me"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  33.4316617502%, 33.9223038348% {
    content: "​med";
    content: "​med"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  33.9233038348%, 34.4139459194% {
    content: "​medi";
    content: "​medi"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  34.4149459194%, 34.9055880039% {
    content: "​medic";
    content: "​medic"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  34.9065880039%, 35.3972300885% {
    content: "​medica";
    content: "​medica"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  35.3982300885%, 35.8888721731% {
    content: "​medical";
    content: "​medical"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  35.8898721731%, 36.3805142576% {
    content: "​medical ";
    content: "​medical "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  36.3815142576%, 36.8721563422% {
    content: "​medical r";
    content: "​medical r"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  36.8731563422%, 37.3637984267% {
    content: "​medical ro";
    content: "​medical ro"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  37.3647984267%, 37.8554405113% {
    content: "​medical rob";
    content: "​medical rob"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  37.8564405113%, 38.3470825959% {
    content: "​medical robo";
    content: "​medical robo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  38.3480825959%, 38.8387246804% {
    content: "​medical robot";
    content: "​medical robot"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  38.8397246804%, 39.330366765% {
    content: "​medical robots";
    content: "​medical robots"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  39.331366765%, 39.8220088496% {
    content: "​medical robots.";
    content: "​medical robots."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  39.8230088496%, 40.3136509341% {
    content: "​medical robots. ";
    content: "​medical robots. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  40.3146509341%, 51.0314483776% {
    content: "​medical robots. 🦾";
    content: "​medical robots. 🦾"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  51.0324483776%, 51.4247620452% {
    content: "​medical robots. ";
    content: "​medical robots. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  51.4257620452%, 51.8180757129% {
    content: "​medical robots.";
    content: "​medical robots."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  51.8190757129%, 52.2113893805% {
    content: "​medical robots";
    content: "​medical robots"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  52.2123893805%, 52.6047030482% {
    content: "​medical robot";
    content: "​medical robot"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  52.6057030482%, 52.9980167158% {
    content: "​medical robo";
    content: "​medical robo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  52.9990167158%, 53.3913303835% {
    content: "​medical rob";
    content: "​medical rob"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  53.3923303835%, 53.7846440511% {
    content: "​medical ro";
    content: "​medical ro"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  53.7856440511%, 54.1779577188% {
    content: "​medical r";
    content: "​medical r"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  54.1789577188%, 54.5712713864% {
    content: "​medical ";
    content: "​medical "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  54.5722713864%, 54.9645850541% {
    content: "​medical";
    content: "​medical"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  54.9655850541%, 55.3578987217% {
    content: "​medica";
    content: "​medica"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  55.3588987217%, 55.7512123894% {
    content: "​medic";
    content: "​medic"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  55.7522123894%, 56.144526057% {
    content: "​medi";
    content: "​medi"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.145526057%, 56.5378397247% {
    content: "​med";
    content: "​med"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.5388397247%, 56.9311533923% {
    content: "​me";
    content: "​me"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.9321533923%, 57.32446706% {
    content: "​m";
    content: "​m"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  57.32546706%, 62.2408879056% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  62.2418879056%, 62.7325299902% {
    content: "​A";
    content: "​A"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  62.7335299902%, 63.2241720747% {
    content: "​AI";
    content: "​AI"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  63.2251720747%, 63.7158141593% {
    content: "​AI ";
    content: "​AI "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  63.7168141593%, 64.2074562439% {
    content: "​AI t";
    content: "​AI t"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  64.2084562439%, 64.6990983284% {
    content: "​AI to";
    content: "​AI to"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  64.7000983284%, 65.190740413% {
    content: "​AI too";
    content: "​AI too"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  65.191740413%, 65.6823824975% {
    content: "​AI tool";
    content: "​AI tool"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  65.6833824975%, 66.1740245821% {
    content: "​AI tools";
    content: "​AI tools"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  66.1750245821%, 66.6656666667% {
    content: "​AI tools ";
    content: "​AI tools "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  66.6666666667%, 67.1573087512% {
    content: "​AI tools f";
    content: "​AI tools f"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  67.1583087512%, 67.6489508358% {
    content: "​AI tools fo";
    content: "​AI tools fo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  67.6499508358%, 68.1405929204% {
    content: "​AI tools for";
    content: "​AI tools for"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  68.1415929204%, 68.6322350049% {
    content: "​AI tools for ";
    content: "​AI tools for "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  68.6332350049%, 69.1238770895% {
    content: "​AI tools for h";
    content: "​AI tools for h"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  69.1248770895%, 69.615519174% {
    content: "​AI tools for he";
    content: "​AI tools for he"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  69.616519174%, 70.1071612586% {
    content: "​AI tools for hea";
    content: "​AI tools for hea"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  70.1081612586%, 70.5988033432% {
    content: "​AI tools for heal";
    content: "​AI tools for heal"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  70.5998033432%, 71.0904454277% {
    content: "​AI tools for healt";
    content: "​AI tools for healt"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  71.0914454277%, 71.5820875123% {
    content: "​AI tools for health";
    content: "​AI tools for health"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  71.5830875123%, 72.0737295969% {
    content: "​AI tools for healthc";
    content: "​AI tools for healthc"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  72.0747295969%, 72.5653716814% {
    content: "​AI tools for healthca";
    content: "​AI tools for healthca"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  72.5663716814%, 73.057013766% {
    content: "​AI tools for healthcar";
    content: "​AI tools for healthcar"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  73.058013766%, 73.5486558505% {
    content: "​AI tools for healthcare";
    content: "​AI tools for healthcare"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  73.5496558505%, 74.0402979351% {
    content: "​AI tools for healthcare.";
    content: "​AI tools for healthcare."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  74.0412979351%, 74.5319400197% {
    content: "​AI tools for healthcare. ";
    content: "​AI tools for healthcare. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  74.5329400197%, 85.2497374631% {
    content: "​AI tools for healthcare. 🩺";
    content: "​AI tools for healthcare. 🩺"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  85.2507374631%, 85.6430511308% {
    content: "​AI tools for healthcare. ";
    content: "​AI tools for healthcare. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  85.6440511308%, 86.0363647984% {
    content: "​AI tools for healthcare.";
    content: "​AI tools for healthcare."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  86.0373647984%, 86.4296784661% {
    content: "​AI tools for healthcare";
    content: "​AI tools for healthcare"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  86.4306784661%, 86.8229921337% {
    content: "​AI tools for healthcar";
    content: "​AI tools for healthcar"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  86.8239921337%, 87.2163058014% {
    content: "​AI tools for healthca";
    content: "​AI tools for healthca"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  87.2173058014%, 87.609619469% {
    content: "​AI tools for healthc";
    content: "​AI tools for healthc"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  87.610619469%, 88.0029331367% {
    content: "​AI tools for health";
    content: "​AI tools for health"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.0039331367%, 88.3962468043% {
    content: "​AI tools for healt";
    content: "​AI tools for healt"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.3972468043%, 88.789560472% {
    content: "​AI tools for heal";
    content: "​AI tools for heal"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.790560472%, 89.1828741396% {
    content: "​AI tools for hea";
    content: "​AI tools for hea"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  89.1838741396%, 89.5761878073% {
    content: "​AI tools for he";
    content: "​AI tools for he"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  89.5771878073%, 89.9695014749% {
    content: "​AI tools for h";
    content: "​AI tools for h"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  89.9705014749%, 90.3628151426% {
    content: "​AI tools for ";
    content: "​AI tools for "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  90.3638151426%, 90.7561288102% {
    content: "​AI tools for";
    content: "​AI tools for"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  90.7571288102%, 91.1494424779% {
    content: "​AI tools fo";
    content: "​AI tools fo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  91.1504424779%, 91.5427561455% {
    content: "​AI tools f";
    content: "​AI tools f"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  91.5437561455%, 91.9360698132% {
    content: "​AI tools ";
    content: "​AI tools "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  91.9370698132%, 92.3293834808% {
    content: "​AI tools";
    content: "​AI tools"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  92.3303834808%, 92.7226971485% {
    content: "​AI tool";
    content: "​AI tool"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  92.7236971485%, 93.1160108161% {
    content: "​AI too";
    content: "​AI too"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.1170108161%, 93.5093244838% {
    content: "​AI to";
    content: "​AI to"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.5103244838%, 93.9026381514% {
    content: "​AI t";
    content: "​AI t"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.9036381514%, 94.2959518191% {
    content: "​AI ";
    content: "​AI "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  94.2969518191%, 94.6892654867% {
    content: "​AI";
    content: "​AI"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  94.6902654867%, 95.0825791544% {
    content: "​A";
    content: "​A"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  95.0835791544%, 100% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}/*# sourceMappingURL=typed.css.map */