@charset "UTF-8";
.typed-para::before {
  content: "​";
  content: "​"/"neural interfaces. 🧠";
  alt: "neural interfaces. 🧠";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 9.54s linear 1s infinite forwards;
}
.typed-para::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.5231090147% {
    content: "​n";
    content: "​n"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  0.5241090147%, 1.0472180294% {
    content: "​ne";
    content: "​ne"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  1.0482180294%, 1.571327044% {
    content: "​neu";
    content: "​neu"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  1.572327044%, 2.0954360587% {
    content: "​neur";
    content: "​neur"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  2.0964360587%, 2.6195450734% {
    content: "​neura";
    content: "​neura"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  2.6205450734%, 3.1436540881% {
    content: "​neural";
    content: "​neural"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  3.1446540881%, 3.6677631027% {
    content: "​neural ";
    content: "​neural "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  3.6687631027%, 4.1918721174% {
    content: "​neural i";
    content: "​neural i"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  4.1928721174%, 4.7159811321% {
    content: "​neural in";
    content: "​neural in"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  4.7169811321%, 5.2400901468% {
    content: "​neural int";
    content: "​neural int"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  5.2410901468%, 5.7641991614% {
    content: "​neural inte";
    content: "​neural inte"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  5.7651991614%, 6.2883081761% {
    content: "​neural inter";
    content: "​neural inter"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  6.2893081761%, 6.8124171908% {
    content: "​neural interf";
    content: "​neural interf"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  6.8134171908%, 7.3365262055% {
    content: "​neural interfa";
    content: "​neural interfa"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  7.3375262055%, 7.8606352201% {
    content: "​neural interfac";
    content: "​neural interfac"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  7.8616352201%, 8.3847442348% {
    content: "​neural interface";
    content: "​neural interface"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  8.3857442348%, 8.9088532495% {
    content: "​neural interfaces";
    content: "​neural interfaces"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  8.9098532495%, 9.4329622642% {
    content: "​neural interfaces.";
    content: "​neural interfaces."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  9.4339622642%, 9.9570712788% {
    content: "​neural interfaces. ";
    content: "​neural interfaces. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  9.9580712788%, 21.3826477987% {
    content: "​neural interfaces. 🧠";
    content: "​neural interfaces. 🧠"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  21.3836477987%, 21.8019350105% {
    content: "​neural interfaces. ";
    content: "​neural interfaces. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  21.8029350105%, 22.2212222222% {
    content: "​neural interfaces.";
    content: "​neural interfaces."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  22.2222222222%, 22.640509434% {
    content: "​neural interfaces";
    content: "​neural interfaces"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  22.641509434%, 23.0597966457% {
    content: "​neural interface";
    content: "​neural interface"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.0607966457%, 23.4790838574% {
    content: "​neural interfac";
    content: "​neural interfac"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.4800838574%, 23.8983710692% {
    content: "​neural interfa";
    content: "​neural interfa"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  23.8993710692%, 24.3176582809% {
    content: "​neural interf";
    content: "​neural interf"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  24.3186582809%, 24.7369454927% {
    content: "​neural inter";
    content: "​neural inter"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  24.7379454927%, 25.1562327044% {
    content: "​neural inte";
    content: "​neural inte"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.1572327044%, 25.5755199161% {
    content: "​neural int";
    content: "​neural int"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.5765199161%, 25.9948071279% {
    content: "​neural in";
    content: "​neural in"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  25.9958071279%, 26.4140943396% {
    content: "​neural i";
    content: "​neural i"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  26.4150943396%, 26.8333815514% {
    content: "​neural ";
    content: "​neural "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  26.8343815514%, 27.2526687631% {
    content: "​neural";
    content: "​neural"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  27.2536687631%, 27.6719559748% {
    content: "​neura";
    content: "​neura"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  27.6729559748%, 28.0912431866% {
    content: "​neur";
    content: "​neur"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  28.0922431866%, 28.5105303983% {
    content: "​neu";
    content: "​neu"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  28.5115303983%, 28.9298176101% {
    content: "​ne";
    content: "​ne"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  28.9308176101%, 29.3491048218% {
    content: "​n";
    content: "​n"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  29.3501048218%, 34.5901949686% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #e97d7d;
    color: #e97d7d;
    color: #e97d7d;
  }
  34.5911949686%, 35.1143039832% {
    content: "​m";
    content: "​m"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  35.1153039832%, 35.6384129979% {
    content: "​me";
    content: "​me"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  35.6394129979%, 36.1625220126% {
    content: "​med";
    content: "​med"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  36.1635220126%, 36.6866310273% {
    content: "​medi";
    content: "​medi"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  36.6876310273%, 37.2107400419% {
    content: "​medic";
    content: "​medic"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  37.2117400419%, 37.7348490566% {
    content: "​medica";
    content: "​medica"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  37.7358490566%, 38.2589580713% {
    content: "​medical";
    content: "​medical"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  38.2599580713%, 38.783067086% {
    content: "​medical ";
    content: "​medical "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  38.784067086%, 39.3071761006% {
    content: "​medical r";
    content: "​medical r"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  39.3081761006%, 39.8312851153% {
    content: "​medical ro";
    content: "​medical ro"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  39.8322851153%, 40.35539413% {
    content: "​medical rob";
    content: "​medical rob"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  40.35639413%, 40.8795031447% {
    content: "​medical robo";
    content: "​medical robo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  40.8805031447%, 41.4036121593% {
    content: "​medical robot";
    content: "​medical robot"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  41.4046121593%, 41.927721174% {
    content: "​medical robots";
    content: "​medical robots"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  41.928721174%, 42.4518301887% {
    content: "​medical robots.";
    content: "​medical robots."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  42.4528301887%, 42.9759392034% {
    content: "​medical robots. ";
    content: "​medical robots. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  42.9769392034%, 54.4015157233% {
    content: "​medical robots. 🦾";
    content: "​medical robots. 🦾"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  54.4025157233%, 54.820802935% {
    content: "​medical robots. ";
    content: "​medical robots. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  54.821802935%, 55.2400901468% {
    content: "​medical robots.";
    content: "​medical robots."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  55.2410901468%, 55.6593773585% {
    content: "​medical robots";
    content: "​medical robots"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  55.6603773585%, 56.0786645702% {
    content: "​medical robot";
    content: "​medical robot"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.0796645702%, 56.497951782% {
    content: "​medical robo";
    content: "​medical robo"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.498951782%, 56.9172389937% {
    content: "​medical rob";
    content: "​medical rob"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  56.9182389937%, 57.3365262055% {
    content: "​medical ro";
    content: "​medical ro"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  57.3375262055%, 57.7558134172% {
    content: "​medical r";
    content: "​medical r"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  57.7568134172%, 58.1751006289% {
    content: "​medical ";
    content: "​medical "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  58.1761006289%, 58.5943878407% {
    content: "​medical";
    content: "​medical"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  58.5953878407%, 59.0136750524% {
    content: "​medica";
    content: "​medica"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  59.0146750524%, 59.4329622642% {
    content: "​medic";
    content: "​medic"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  59.4339622642%, 59.8522494759% {
    content: "​medi";
    content: "​medi"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  59.8532494759%, 60.2715366876% {
    content: "​med";
    content: "​med"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  60.2725366876%, 60.6908238994% {
    content: "​me";
    content: "​me"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  60.6918238994%, 61.1101111111% {
    content: "​m";
    content: "​m"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  61.1111111111%, 66.3512012579% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #8888d5;
    color: #8888d5;
    color: #8888d5;
  }
  66.3522012579%, 66.8753102725% {
    content: "​h";
    content: "​h"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  66.8763102725%, 67.3994192872% {
    content: "​he";
    content: "​he"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  67.4004192872%, 67.9235283019% {
    content: "​hea";
    content: "​hea"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  67.9245283019%, 68.4476373166% {
    content: "​heal";
    content: "​heal"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  68.4486373166%, 68.9717463312% {
    content: "​healt";
    content: "​healt"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  68.9727463312%, 69.4958553459% {
    content: "​health";
    content: "​health"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  69.4968553459%, 70.0199643606% {
    content: "​healthc";
    content: "​healthc"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  70.0209643606%, 70.5440733753% {
    content: "​healthca";
    content: "​healthca"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  70.5450733753%, 71.0681823899% {
    content: "​healthcar";
    content: "​healthcar"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  71.0691823899%, 71.5922914046% {
    content: "​healthcare";
    content: "​healthcare"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  71.5932914046%, 72.1164004193% {
    content: "​healthcare ";
    content: "​healthcare "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  72.1174004193%, 72.640509434% {
    content: "​healthcare t";
    content: "​healthcare t"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  72.641509434%, 73.1646184486% {
    content: "​healthcare to";
    content: "​healthcare to"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  73.1656184486%, 73.6887274633% {
    content: "​healthcare too";
    content: "​healthcare too"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  73.6897274633%, 74.212836478% {
    content: "​healthcare tool";
    content: "​healthcare tool"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  74.213836478%, 74.7369454927% {
    content: "​healthcare tools";
    content: "​healthcare tools"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  74.7379454927%, 75.2610545073% {
    content: "​healthcare tools.";
    content: "​healthcare tools."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  75.2620545073%, 75.785163522% {
    content: "​healthcare tools. ";
    content: "​healthcare tools. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  75.786163522%, 87.2107400419% {
    content: "​healthcare tools. 🩺";
    content: "​healthcare tools. 🩺"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  87.2117400419%, 87.6300272537% {
    content: "​healthcare tools. ";
    content: "​healthcare tools. "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  87.6310272537%, 88.0493144654% {
    content: "​healthcare tools.";
    content: "​healthcare tools."/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.0503144654%, 88.4686016771% {
    content: "​healthcare tools";
    content: "​healthcare tools"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.4696016771%, 88.8878888889% {
    content: "​healthcare tool";
    content: "​healthcare tool"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  88.8888888889%, 89.3071761006% {
    content: "​healthcare too";
    content: "​healthcare too"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  89.3081761006%, 89.7264633124% {
    content: "​healthcare to";
    content: "​healthcare to"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  89.7274633124%, 90.1457505241% {
    content: "​healthcare t";
    content: "​healthcare t"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  90.1467505241%, 90.5650377358% {
    content: "​healthcare ";
    content: "​healthcare "/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  90.5660377358%, 90.9843249476% {
    content: "​healthcare";
    content: "​healthcare"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  90.9853249476%, 91.4036121593% {
    content: "​healthcar";
    content: "​healthcar"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  91.4046121593%, 91.8228993711% {
    content: "​healthca";
    content: "​healthca"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  91.8238993711%, 92.2421865828% {
    content: "​healthc";
    content: "​healthc"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  92.2431865828%, 92.6614737945% {
    content: "​health";
    content: "​health"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  92.6624737945%, 93.0807610063% {
    content: "​healt";
    content: "​healt"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.0817610063%, 93.500048218% {
    content: "​heal";
    content: "​heal"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.501048218%, 93.9193354298% {
    content: "​hea";
    content: "​hea"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  93.9203354298%, 94.3386226415% {
    content: "​he";
    content: "​he"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  94.3396226415%, 94.7579098532% {
    content: "​h";
    content: "​h"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
  94.7589098532%, 100% {
    content: "​";
    content: "​"/"neural interfaces. 🧠";
    alt: "neural interfaces. 🧠";
    color: #6188d0;
    color: #6188d0;
    color: #6188d0;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}/*# sourceMappingURL=typed.css.map */